{% load staticfiles thumbnail %}
   {% for poll in polls %}
       <h4 class="poll">{{ poll.title }} </h4>
       {% for choice in poll.get_result %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="video__item">
                <div class="video__frame">
                    {% if choice.image %}
                        {% thumbnail choice.image "450x280" as im %}
                            <img class="video__iframe" src="{{ im.url }}" alt={{ choice.title }}>
                        {% endthumbnail %}
                    {% endif %}
                </div>
                <div class="video__title">
                    <span class="video__name">{{ choice.title }} </span>
                    <p><span id="percent-{{ choice.id }}" class="video__song">{{ choice.percent | default_if_none:"0" | floatformat:-2}}%</span>
                    <p>Количество голосов: <span id="count-{{ choice.id }}" class="video__song">{{ choice.answer_count | default_if_none:"0"}}</span>
                </div>

                <div class="video__vote">
                    {% if poll.opportunity_vote %}
                    <a href="#" onclick="vote(event, '{{ choice.poll.pk }}', '{{ choice.pk }}')" class="button-big">Голосовать</a>
                                {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
